@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Sora";
  src: url("./fonts/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
}
